# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Program Files\IBS_appline_java_2_0\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
